<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css" media="all">
        <script src="/static/htmx.min.js"></script>
        <script src="/static/sse.min.js"></script>
        <title></title>
    </head>
    <body class="h-full bg-teal-950 text-white flex flex-col md:flex-row justify-between md:justify-evenly gap-16">
        <div id="logs" class="bg-stone-950 overflow-auto h-full w-full p-3"><samp>
            <div hx-ext="sse" sse-connect="/logs/stream" sse-swap="log" hx-swap="beforeend scroll:#logs:bottom">
                <p id="logs-placeholder">no logs yet</p>
            </div>
        </samp></div>

        <div>
            <p>IP: <span class="font-bold"> {{ IP.deref() }} </span></p>
            {{controls|safe}}
        </div>
    </body>
</html>
{# vim:set ft=htmldjango: #}
